#githubIcon {
    width: 100%;
    padding-left:  50px;
    padding-right: 50px;
}

#linkedinIcon {
    width: 100%;
    padding-left:  50px;
    padding-right: 50px;
}

#resumeIcon {
    width: 100%;
    padding-left:  50px;
    padding-right: 50px;
}
