

.aboutmeStyle {
    /* font-size: 13px;
    color: black; */
}

img {
    padding-bottom: 25px;

}

#aboutMeCard {
    /* background-color: white; */
}

#githubStyle, 
#linkedStyle,
#resumeSytle {
    width: 100%;
    height: 100%;
}
